<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.architjn.acjmusicplayer"
    android:installLocation="auto">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light">

        <activity
            android:name=".ui.layouts.activity.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.layouts.activity.AlbumActivity"
            android:theme="@style/AppTheme.Album" />
        <activity
            android:name=".ui.layouts.activity.PlaylistActivity"
            android:theme="@style/AppTheme.Main" />
        <activity
            android:name=".ui.layouts.activity.ArtistActivity"
            android:theme="@style/AppTheme.Main" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="fad1c3f49b5e63cd70ef5235fbc80d9b694ebf43" />
        <service
            android:name=".service.PlayerService"
            android:enabled="true" />
    </application>

</manifest>
